### Q1. Numpy=Numpy arrays are optimized for numerical operations and are much faster than Python lists for such computations.NumPy arrays use contiguous blocks of memory and store elements of a single data type.NumPy supports vectorized operations. NumPy arrays support broadcasting.NumPy provides a wide range of mathematical functions and operations optimized for arrays.
###      List= Python lists can store elements of different data types within the same list.Lists can dynamically resize themselves, allowing for easy appending, inserting, and removing elements.Lists are suitable for storing any type of data and are not specifically optimized for numerical computations.Lists are simple and intuitive to use, making them suitable for a wide range of tasks

In [ ]:
# Q2.print("Total Dimensions :" , b.ndim). #    print("Shape of an array :" , b.shape)

In [ ]:
# Q3.

'''1. zeros() function: This function create an array (either one dimensional or multi dimensional) and fill all the values with zeros . 

2. ones() function: This function creats an array (either one dimensional or multi dimensional) and fill all the values with one . 

3. eye() function: This function creats an array with all the digonal elements as 1 and rest are 0(In square matrix). 
                   In non-square matrix the value are sstill one for digonal (upto which it can draw digonal ) and rest are zero .  

4. diag() function: This function creats a two dimensional array with all the digonal elements as the given value and rest are zero .  

5. unique() function:  This function returns the unique elements of an array.   

6. linspace() function: This function returns value between a given range and with a same gap between consicutive elements . 

7. hstack() function: This function stacks arrays in sequence horizontally (column-wise). 

8. vstack() function: This function stacks arrays in sequence vertically (row-wise). 

9. rand() function: This function is used to generate a random number between 0 to 1 . 

10. seed() function: We know that randint function generates random numbers . Everytime we run the program  , new set of random number is generated .
                     So , solve this problem we will use seed function . '''

In [2]:
# Q4.
import numpy as np
a = [] 
size  = int(input("Enter size:")) 
for i in range(size):
    val = int(input("Enter number:")) 
    a.append(val) 
    
print(a) 
b = np.array(a) 
b

Enter size: 4
Enter number: 34
Enter number: 42
Enter number: 56
Enter number: 73

[34, 42, 56, 73]

array([34, 42, 56, 73])

In [6]:
import pandas as pd

In [8]:
# Q5. 
# (1). Series =====> it is used for one dimensional data . It shows only values of a column and it will not include column name .

In [9]:
a = pd.Series([1,43,56,70])
a

0     1
1    43
2    56
3    70
dtype: int64

In [12]:
# (2). DataFrame ====> It is multi-dimensiuonal data . It shows column name with values .

data = {
    'Name': ['lokesh', 'devesh', 'kishan', 'abhi', 'yash'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'San Francisco']
}

In [13]:
df = pd.DataFrame(data) 
df

     Name  Age           City
0  lokesh   25       New York
1  devesh   30    Los Angeles
2  kishan   35        Chicago
3    abhi   40        Houston
4    yash   45  San Francisco

In [14]:
# Q6.In order to check missing values in Pandas DataFrame, we use a function isnull() and notnull().

In [18]:
# Q7. describe
'''Provides summary statistics for numerical columns in the DataFrame.Excludes non-numeric columns by default.
It gives a statistical summary of the data, focusing on numerical aspects.'''
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50],
        'C': ['a', 'b', 'c', 'd', 'e']}

df = pd.DataFrame(data)

# Use describe() method
print(df.describe())

              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000

In [19]:
# info.
'''Provides a concise summary of the DataFrame.Includes all columns, both numeric and non-numeric.
It gives information about the DataFrame structure and data types.'''
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50],
        'C': ['a', 'b', 'c', 'd', 'e']}

df = pd.DataFrame(data)

# Use info() method
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None

# Q8.
loc[] method: The loc[] method is primarily label-based, meaning that you use row and column labels to access data.
                 You can use either row labels (index labels) or column labels (column names) or a combination of both to select data.
                 It includes the end value when slicing ranges.



iloc[] method: The iloc[] method is primarily integer-based, meaning that you use integer indices to access data.
                  You use integer positions to select data regardless of the actual row and column labels.
                  It does not include the end value when slicing ranges (similar to Python slicing behavior).

In [22]:
# Q9. value_count() :  If we want to see acutal values then we use value_counts() .

In [25]:
# Q11. To rename a column in a Pandas DataFrame, you can use the rename() method. 
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Rename column 'A' to 'X'
df.rename(columns={'A': 'X'},inplace=True)

# Now 'A' is renamed to 'X'
print(df)

   X  B
0  1  4
1  2  5
2  3  6

# Q14. Discrete Data:

.Discrete data consists of separate, distinct values with no meaningful order or continuous sequence between them.

.Examples include integers, categories, or any data that can be counted or enumerated.

.In Pandas, discrete data is typically represented using integer or categorical data types.

# Continuous Data:

Continuous data represents measurements or values that can take on any value within a certain range.

There is a continuous sequence of possible values between any two points.

Examples include real numbers, measurements like height, weight, temperature, etc.

In Pandas, continuous data is often represented using floating-point data types.

# Q15 When you have numerical data and categorical data in Pandas,you can use various types of charts to visualize the relationships between them

# Bar Chart:

Useful for comparing numerical values across different categories.

# Box Plot:

Shows the median, quartiles, and possible outliers.

# Scatter Plot:

Useful for visualizing the relationship between two numerical variables across different categories.


# Histogram:

Suitable for visualizing the distribution of numerical data within different categories.

In [26]:
# Q10. 
# Merge==> The merge() function is used to combine two DataFrames based on one or more keys.
#           It allows you to perform inner, outer, left, and right joins.
#           It's typically used when you want to combine DataFrames based on common columns.


# Concat==> The concat() function is used to concatenate two or more DataFrames along rows or columns.
#           It does a simple concatenation, stacking DataFrames either vertically (along rows) or horizontally (along columns).
#           It's typically used when you want to combine DataFrames with the same columns or indexes.

In [27]:
# Q10.(2nd). 
# Row-wise addition: To add row-wise data, you want to sum across columns. So, you set axis=1.
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# Add row-wise data
row_sum = df.sum(axis=1)
print("Row-wise sum:")
print(row_sum)

Row-wise sum:
0    12
1    15
2    18
dtype: int64

In [28]:
# Q10(2nd).
# Column-wise addition: To add column-wise data, you want to sum across rows. So, you set axis=0.

import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# Add column-wise data
column_sum = df.sum(axis=0)
print("Column-wise sum:")
print(column_sum)

Column-wise sum:
A     6
B    15
C    24
dtype: int64

# Q13
# Univariate Analysis:
1.Univariate analysis focuses on analyzing a single variable at a time.
2.It helps in understanding the distribution, central tendency, dispersion, and shape of the variable.
=>Example: Analyzing the distribution of exam scores of students in a class using a histogram.

# Bivariate Analysis:
1.Bivariate analysis involves the analysis of two variables simultaneously to determine if there is a relationship between them.
2.It helps in understanding how one variable changes in relation to another.
=>Example: Studying the relationship between the amount of rainfall and crop yield to determine if there's a correlation between them.

# Multivariate Analysis:
1.Multivariate analysis involves the analysis of three or more variables simultaneously.
2.It helps in understanding complex relationships between multiple variables and identifying patterns or trends.
=>Example: Analyzing the factors influencing the sales performance of a retail store, considering variables such as advertising expenditure, location, product pricing, and customer demographics.

In [31]:
# Q12.
import pandas as pd

# Create the DataFrame
data = {'Employee ID': [1, 2, 3, 4, 5],
        'Employee Name': ['vajay', 'yash', 'abhi', 'kishan', 'lokesh'],
        'Department': ['Sales', 'IT', 'Operations', 'IT', 'Sales'],
        'Working Hours': [8, 7, 8, 9, 8],
        'Salary': [50000, 60000, 45000, 55000, 52000]}
df = pd.DataFrame(data)

# Update salaries for two employees
df.loc[df['Employee ID'].isin([1, 2]), 'Salary'] += 5000

# Update working hours for two employees
df.loc[df['Employee ID'].isin([3, 4]), 'Working Hours'] -= 1

print("Updated DataFrame:")
print(df)

Updated DataFrame:
   Employee ID Employee Name  Department  Working Hours  Salary
0            1         vajay       Sales              8   55000
1            2          yash          IT              7   65000
2            3          abhi  Operations              7   45000
3            4        kishan          IT              8   55000
4            5        lokesh       Sales              8   52000

In [32]:
# Create new columns for departments
df['Sales Department'] = df['Department'].apply(lambda x: 1 if x == 'Sales' else 0)
df['IT Department'] = df['Department'].apply(lambda x: 1 if x == 'IT' else 0)
df['Operations Department'] = df['Department'].apply(lambda x: 1 if x == 'Operations' else 0)

print("\nDataFrame with new department columns:")
print(df)

DataFrame with new department columns:
   Employee ID Employee Name  Department  Working Hours  Salary  \
0            1         vajay       Sales              8   55000
1            2          yash          IT              7   65000
2            3          abhi  Operations              7   45000
3            4        kishan          IT              8   55000
4            5        lokesh       Sales              8   52000

   Sales Department  IT Department  Operations Department
0                 1              0                      0
1                 0              1                      0
2                 0              0                      1
3                 0              1                      0
4                 1              0                      0