In [5]:
import  numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\placement.csv")

In [7]:
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [8]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [10]:
x = df.drop(columns = ['placed'] , axis = 1)  ### Input data 
y = df['placed']   ### Target data

In [13]:
print("dataframe shape = " , df.shape)
print("Independent data shape = " , x.shape)
print("Dependent data shape = " , y.shape)

dataframe shape =  (100, 3)
Independent data shape =  (100, 2)
Dependent data shape =  (100,)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [16]:
print("dataframe shape = " , df.shape)
print("Independent data shape = " , x.shape)
print("Dependent data shape = " , y.shape)

dataframe shape =  (100, 3)
Independent data shape =  (100, 2)
Dependent data shape =  (100,)

In [20]:
print("X_train  data shape = " , x_train.shape)
print("X_test  data shape = " , x_test.shape)
print("Y_train data shape = " , y_train.shape)
print("Y_test data shape = " , y_test.shape)

X_train  data shape =  (80, 2)
X_test  data shape =  (20, 2)
Y_train data shape =  (80,)
Y_test data shape =  (20,)

In [21]:
np.round(x_train.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
sc = StandardScaler()

In [27]:
x_train_sc = sc.fit_transform(x_train)   #### fit means learns the parameters and transform means apply on data

In [28]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [30]:
x_train_new.head(3)

       cgpa  resume_score
0 -0.008602     -0.128926
1  1.001293     -0.925381
2 -0.607389     -0.527154

In [31]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

# Normalization

In [32]:
from sklearn.preprocessing import MinMaxScaler

In [33]:
mn = MinMaxScaler()

In [35]:
x_train_mn = mn.fit_transform(x_train)   ## fit means learn the psrameter and trasnform means apply on data

In [36]:
x_train_new  = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [37]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean    0.42          0.50
std     0.28          0.25
min     0.00          0.00
25%     0.18          0.32
50%     0.33          0.54
75%     0.69          0.67
max     1.00          1.00

In [38]:
# Encoding ===> Convert categorical data into numerical data . 

# Gender ===> Male(0) , Female(1) 

# Grade ===> A(0) , B(1) , C(2)

In [39]:
# (1). LabelEncoding ==> Single data ..

In [40]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\covid_toy.csv")

In [41]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [42]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [43]:
df = df.dropna()

In [44]:
from sklearn.preprocessing import LabelEncoder

In [45]:
lb = LabelEncoder()

In [46]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [47]:
df.head(4)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0

In [48]:
x = df.drop(columns = ['has_covid'] )

y = df['has_covid']

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x_train , x_test , y_train, y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [53]:
from sklearn.preprocessing import MinMaxScaler

In [54]:
mn = MinMaxScaler()

In [56]:
x_train_mn = mn.fit_transform(x_train)

In [57]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [58]:
x_train_new

         age  gender     fever  cough      city
0   0.564103     0.0  0.166667    1.0  0.000000
1   0.807692     0.0  0.500000    1.0  0.333333
2   0.769231     1.0  0.166667    0.0  0.333333
3   0.038462     0.0  0.500000    0.0  0.666667
4   0.820513     0.0  0.000000    1.0  1.000000
..       ...     ...       ...    ...       ...
67  0.102564     0.0  0.333333    1.0  0.666667
68  0.628205     0.0  1.000000    1.0  0.666667
69  0.551282     0.0  0.833333    0.0  0.666667
70  0.448718     0.0  0.000000    1.0  0.333333
71  0.012821     0.0  1.000000    0.0  0.666667

[72 rows x 5 columns]

In [59]:
np.round(x_train_new.describe() , 1)

        age  gender  fever  cough  city
count  72.0    72.0   72.0   72.0  72.0
mean    0.5     0.4    0.5    0.3   0.4
std     0.3     0.5    0.4    0.5   0.3
min     0.0     0.0    0.0    0.0   0.0
25%     0.2     0.0    0.2    0.0   0.0
50%     0.5     0.0    0.5    0.0   0.3
75%     0.8     1.0    0.7    1.0   0.7
max     1.0     1.0    1.0    1.0   1.0