# dataframe1

In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("C:\\Users\\DELL\\Desktop\\xyza\\covid_toy.csv")

In [7]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [10]:
x = df.drop(columns = ['cough'] , axis = 1)
x

    age  gender  fever       city has_covid
0    60    Male  103.0    Kolkata        No
1    27    Male  100.0      Delhi       Yes
2    42    Male  101.0      Delhi        No
3    31  Female   98.0    Kolkata        No
4    65  Female  101.0     Mumbai        No
..  ...     ...    ...        ...       ...
95   12  Female  104.0  Bangalore        No
96   51  Female  101.0    Kolkata       Yes
97   20  Female  101.0  Bangalore        No
98    5  Female   98.0     Mumbai        No
99   10  Female   98.0    Kolkata       Yes

[100 rows x 5 columns]

In [11]:
x.head(2)

   age gender  fever     city has_covid
0   60   Male  103.0  Kolkata        No
1   27   Male  100.0    Delhi       Yes

In [13]:
y=df['cough']

In [14]:
print("Total data shape:",df.shape)
print("Independent data shape:", x.shape)
print("Dependent data shape:", y.shape)

Total data shape: (100, 6)
Independent data shape: (100, 5)
Dependent data shape: (100,)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train  , x_test , y_train , Y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [18]:
print("Total data shape=" ,df.shape)
print("Independent data shape= ", x.shape)
print("Dependent data shape = ", y.shape) 
print("X_train data shape=", x_train.shape)
print("X_test data shape", x_test.shape)

Total data shape= (100, 6)
Independent data shape=  (100, 5)
Dependent data shape =  (100,)
X_train data shape= (80, 5)
X_test data shape (20, 5)

# dataframe2

In [19]:
df2=pd.read_csv("C:\\Users\\DELL\\Desktop\\xyza\\tips.csv")

In [20]:
a=df2.drop(columns=['smoker'] , axis=1)
type(a)

pandas.core.frame.DataFrame

In [21]:
b=df2['tip']

In [22]:
print("Total data shape= H ", df2.shape)
print("Independent data shape", a.shape)
print("Dependent data shape", b.shape)

Total data shape= H  (244, 7)
Independent data shape (244, 6)
Dependent data shape (244,)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
a_train , a_test , b_train , b_test = train_test_split(a,b,test_size = 0.2 , random_state = 42)

In [25]:
print("Total data shape=" ,df2.shape)
print("Independent data shape= ", a.shape)
print("Dependent data shape = ", b.shape) 
print("X_train data shape=", a_train.shape)
print("X_test data shape", b_test.shape)

Total data shape= (244, 7)
Independent data shape=  (244, 6)
Dependent data shape =  (244,)
X_train data shape= (195, 6)
X_test data shape (49,)

# dataframe3

In [29]:
df3 = pd.read_csv("C:\\Users\\DELL\\Desktop\\xyza\\titanic.csv")

In [30]:
x1=df3.drop(columns=['Survived'] , axis = 1) ### independent data
type(x1)

pandas.core.frame.DataFrame

In [31]:
y1=df3['Survived']

In [32]:
print("Total data shape = " , df3.shape) 
print("Independent  data shape = " , x1.shape) 
print("Dependent  data shape = " , y1.shape)

Total data shape =  (418, 12)
Independent  data shape =  (418, 11)
Dependent  data shape =  (418,)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [35]:
print("Total data shape = " , df3.shape) 
print("Independent  data shape = " , x1.shape) 
print("Dependent  data shape = " , y1.shape) 
print("X_train data shape=" , x_train.shape)
print("X_test data shape = " , x_test.shape)

Total data shape =  (418, 12)
Independent  data shape =  (418, 11)
Dependent  data shape =  (418,)
X_train data shape= (80, 5)
X_test data shape =  (20, 5)